.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

.label {
    margin-bottom: 10px;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.submitBtn {
    padding: 10px;
    background-color: #2ecc71;
    /* Зелений */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: #27ae60;
    /* Темніший зелений */
}