.contactBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: auto;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #666666;
}

.nameBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.contactData {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.nameBox p,
.contactData p {
  font-size: 16px;
}

.btnDelete {
  padding: 5px 10px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnDelete:hover {
  background-color: #ff4500;
}
