.authNav {
  display: flex;
  gap: 20px;
}

.link {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.link:hover {
  opacity: 0.5;
}
